# requirements-dev.txt
numpy
networkx
matplotlib
matplotlib-base
pycairo
cairocffi
cairo
python-igraph
rustworkx
networkit
python-louvain
graph-tool
numba
qiskit
scipy
pandas
chess
rustworkx
seaborn
igraph
pytest
flake8
pytest-cov
