sphinx>=9.0.4
urllib3>=2.6.3
sphinx_copybutton
sphinx-autobuild
networkx
matplotlib
numpy
graphillion; python_version>="3.11"
igraph; python_version>="3.11"
networkit; python_version>="3.11"
rustworkx; python_version>="3.11"
