sphinx>=9.0.4
sphinx_rtd_theme>=3.0.2
urllib3>=2.6.3
myst_parser
sphinx_copybutton
sphinx-autobuild
networkx
matplotlib
numpy
graphillion; python_version>="3.11"
igraph; python_version>="3.11"
networkit; python_version>="3.11"
rustworkx; python_version>="3.11"
